@font-face {
  font-family: 'Spiegel';
  src: local('Spiegel'), url(../assets/Fonts/Spiegel-Regular.otf) format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SpiegelBold';
  src: local('SpiegelBold'), url(../assets/Fonts/Spiegel-Bold.otf) format('opentype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Beaufort';
  src: local('Beaufort'), url(../assets/Fonts/BeaufortforLOL-Bold.otf) format('opentype');
}

body{
  margin: 0;
  padding: 0;
}

main{
  min-height: 100vh; 
}

.logo{
  width: 10rem; 
}

.footer{
  position: relative;
  bottom: 0px;
}

a:link, a:visited, a:active{
  text-decoration: none;
}

.btnNav:hover{
  background-color: #282828;
  border-radius: 0.5rem;
  transition: all .2s ease-in-out; 
}

.btnNav:active{
  transform: scale(0.8);
}

.imgSize{
  width: 80%;
  aspect-ratio: 3/2; 
  object-fit: contain;
  margin: 0 auto;
}

.imgDetail{
  width: 100%;
  margin-top: 1rem;
}

.imgCart{
  aspect-ratio: 3/2;
  object-fit:cover;
  width: 100%;
}

.marginCard {
  margin: 1rem;
  max-height: 40rem;
}

#menuCollapse {
  background-color: #111111;
  color: #e1e1e1;
}

.scrollBar::-webkit-scrollbar{
  width: 5px;
}

.scrolBar::-webkit-scrollbar-track{
  background: #f1f1f1;
}

.scrollBar::-webkit-scrollbar-thumb{
  background: #888;
}

.scrollBar::-webkit-scrollbar-Thumb:hover{
  background: #555;
} 

.bg-customDark {
  background-color: #111111;
}

.bgMain {
  background-color: #000913;
}

.btnAddMain button{
  width: 11rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btnCountMain span{
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}

.btnCountMain button{
 width: 3rem;
}

.btnAddDetail div {
  display: flex;
  justify-content: center;

}

.btnAddDetail button{
  width: 8.5rem;
}

.btnCountDetail div{
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center; 
}

.btnCountDetail button{
  width: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.detailAlign div{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  justify-content: center;
}

.cartAlign div{
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.fontWhite {
  color: #e1e1e1;
}

.fontTitle{
  font-family: 'Beaufort';
  font-size: 4rem;
}

.fontBold{
  font-family: 'SpiegelBold';
  font-size: 1.5rem;
}


.navAlign {
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 1200px){
  .logo{
    width: 10rem;
  }
} 